header{
    background-color: #F0FFF0;
}
.sign-in-btn{
    padding: 2px 20px;
    background: #21B573;
    border-radius: 33px;

}
span{
    color: #21B573;
}
.bg-card-color{
    background-color: #F8FFFB;
}
.icon-image{
    width: 24px;
    height: 24px;
}
